/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

strong, b {
  font-size: 110%;
  font-family: serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */

h1 {
  font-family: serif;
}

body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}


ul {list-style-type: square;}

.button-row {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #f0f0f0;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
}

.button-row .center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.choice-row{
    display: inline-block;
      
}

.choice-row > .choice:not(:last-child){
margin-right:1em;
}

.slidecontainer {
  width: 100%;
  padding: 0 0;
  /* optional */
}

#pitchSlider {
  width: 100%;
  max-width: 1500px;
  /* optional, to limit stretch */
  box-sizing: border-box;
}